

/*------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------Variables------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/

:root {

--light-white: rgb(255, 255, 255);    
--light: rgb(214, 212, 212);
--dark: rgb(65, 65, 65);
--ligth-transparent: rgb(200, 200, 200, 0.5);
--dark-transparent: rgba(50, 50, 50, 0.5);
--contrast-light: rgb(41, 211, 245);
--contrast-dark: rgb(29, 191, 255);
--contrast-light-transparent: rgb(93, 224, 234, 0.5);
--contrast-dark-transparent: rgb(4, 4, 188, 0.5);
--transparent: transparent;
}

/*------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------Generales------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}


h1 {
    color: var(--dark) !important;
    padding-top: 1px;
    padding-left: 10px;
    padding-bottom: 5px;
    border-radius: 7px;
}
h5 {
    padding: 6px;
    color: var(--contrast-light) !important;
}

section {
    background-color: var(--light-white);
    padding-top: 100px;
    padding-bottom: 30px;
}


/*------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------Navbar---------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/


/* Margen a la izquierda del logo */
.navbarlogocss {
    /* margin-left: 176px; */
    margin-left: 101px;
}

/* Margen de los links: About, Education,... a la derecha */
.navbarlinkcss {
    margin-right: 104px;
    margin-left: 40px;
}


.dropdown-menu > li > a, .navbar-nav > li > a {
    color: var(--dark) !important; 
    border-radius: 5px;
}

.dropdown-menu > li > a:hover, .navbar-nav > li > a:hover {
    color: var(--contrast-light) !important;  
}

.dropdown-menu > li > a:active, .dropdown-menu > li > a:focus, .navbar-nav > li > a.active, .navbar-nav > li > a:focus {
    color: var(--dark) !important;
    background-color: var(--contrast-light) !important;
}

/*------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------About--------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/

.about-section-table {
    background-color: rgb(228, 255, 255);
}


.row-item1 {
    padding-bottom: 20px;
}

.about-section-column1-img {
    width: 60% !important; /* Establece el ancho de la imagen al 50% del contenedor */
}

.about-icons {
    font-size: 6ch;
    color: var(--contrast-light);
    margin-right: 15px;
}

/*------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------Education-----------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/

.img-fluid {
    width: 100% !important; 
    height: 100% !important;
}


/*------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------Work----------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/

.card-work {
    background-color: rgb(228, 255, 255) !important;
}


/*------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------Skills----------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/

.skills-section-table {
    background-color: rgb(228, 255, 255);
}


.skills-icons {
    font-size: 8ch;
    color: var(--contrast-light);
}


/*------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------Projects------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/

.rounded-left-only {
    border-top-left-radius: 6px !important;
    border-bottom-left-radius: 6px !important;
}
.rounded-right-only {
    border-top-right-radius: 6px !important;
    border-bottom-right-radius: 6px !important;
}

/*------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------Contact-------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/

.contact-section-table {
    background-color: rgb(228, 255, 255);
}

/*------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------Footer--------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/

