

/*------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------Variables------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/

:root {
--light: rgb(190, 190, 190);
--dark: rgb(65, 65, 65);
--ligth-transparent: rgb(200, 200, 200, 0.5);
--dark-transparent: rgb(35, 35, 35, 0.5);
--contrast-light: rgb(93, 224, 234);
--contrast-dark: rgb(0, 0, 255);
--contrast-light-transparent: rgb(23, 185, 249, 0.5);
--contrast-dark-transparent: rgb(4, 4, 188, 0.5);
--transparent: transparent;
}

/*------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------Generales------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/

h1 {
    color: var(--dark) !important;
}




/*------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------Navbar---------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/


/* Margen a la izquierda del logo */
.navbarlogocss {
    /* margin-left: 176px; */
    margin-left: 101px;
}

/* Margen de los links: About, Education,... a la derecha */
.navbarlinkcss {
    margin-right: 104px;
    margin-left: 40px;
}

.navbar-nav > li > a {
    color: var(--dark) !important; 
}

.navbar-nav > li > a:hover {
    color: var(--contrast-light) !important;  
}

.navbar-nav > li > a.active, .navbar-nav > li > a:focus {
    color: var(--contrast-dark) !important;
}

/*------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------About--------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/


.about-section{
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
}


.about-section-column1,
.about-section-column2 {
    padding-top: 20px;
}

.about-section-column1-img {
    width: 70% !important; /* Establece el ancho de la imagen al 50% del contenedor */
}


.about-section-column2-interests {
    text-align: center;
    padding-top: 40px;
}



/*------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------Education-----------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/

.education-section{
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
}




/*------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------Work----------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/

.work-section{
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
}

/*------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------Skills----------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/

.skills-section{
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
}

i {
    font-size: 10ch;
    color: var(--contrast-light);
    border-radius: 5px;
}


/*------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------Projects------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/

.projects-section{
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
}

/*------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------Contact-------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/

.contact-section{
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
}

/*------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------Footer--------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/

.footer-section{
    padding-top: 80px;
}