

/*------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------Variables------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/

:root {
--background-light: rgb(200, 200, 200)
}


/*------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------Navbar---------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/

.navbarlogocss {
    margin-left: 50px;
}

.navbarlinkcss {
    margin-right: 50px;
    margin-left: 62px;
}

/*------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------About--------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/


.about-section{
    padding-top: 80px;
    background-color: var(--background-light)
}

.about-section-column1,
.about-section-column2 {
    padding-top: 20px;
}

.about-section-column1-img {
    width: 70% !important; /* Establece el ancho de la imagen al 50% del contenedor */
}